@model int

@{
    ViewData["Title"] = "İş Emirleri Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageNumber = ViewBag.PageNumber;
}

<h2>İş Emirleri Listesi</h2>

@await Component.InvokeAsync("AssignWorkOrder",pageNumber)

@await Component.InvokeAsync("UndertakeWorkOrder",pageNumber)

@await Component.InvokeAsync("ClosedWorkOrder",pageNumber)